{% extends 'discovbeat/loginbase.html' %}
{% load static %}

{% block headblock%}
    <link rel='stylesheet' href="{% static 'css/dashboardCSS.css' %}">
{% endblock %}

{% block bodyblock %}
    <div class="container mt-5">
        <div class="row pt-3">
            <div class="col-md-9">
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Playlists shared to you</h2>
                        <div class="card">
                            <div class="card-body">
                                {% if sharedToYouPlaylists%}
                                    {% for playlist in sharedToYouPlaylists%}
                                        <p class="card-text">{{playlist}}</p>
                                    {%endfor%}
                                {%else%}
                                    <p class="card-text">You have not been shared any playlists yet :o</p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Your shared playlists</h2>
                        <div class="card">
                            <div class="card-body">
                                {% if sharedPlaylists%}
                                    {% for playlist in sharedPlaylists%}
                                        <p class="card-text">{{playlist}}</p>
                                    {%endfor%}
                                {%else%}
                                    <p class="card-text">You have not shared any playlist yet to your friends</p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row pt-2 pb-4">
                    <div class="col-md">
                        <h2>Share a playlist</h2>

                        <form action="{% url 'shareplaylist'%}" method="POST">
                            {% csrf_token %}
                            <select  class="custom-select" size="10" name="playlist" id="playlist" onchange="this.form.submit()">
                                {% for key,value in userPlaylists.items %}
                                    <option value="{{value}}" >{{key}}</option>
                                {% endfor %}
                            </select>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-md-block pt-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{%static 'images/logo with background.png'%}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hello {{request.user.first_name}}</h5>
                        <p class="card-text">I hope you are enjoying the website. This webapp is currently in beta testing so if you find any problems while using the website please let me know of the bug.</p>
                        <a href="#" class="btn btn-primary">Report Bug</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}