{% extends 'discovbeat/base.html' %}
{% load static %}

{% block headblock%}
    <link rel='stylesheet' href="{% static 'css/loginbaseCSS.css' %}">
{% endblock %}

{% block navbar %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a href="{% url 'settings' %}" class="dropdown-item">Settings</a>
            <a href="{% url 'logout' %}" class="dropdown-item">Log out</a>
        </div>
    </li>
{% endblock %}

{% block dashboardUrl %}{% url 'dashboard' %}{%endblock%}
