{% extends 'discovbeat/loginbase.html' %}
{% load static %}

{% block bodyblock%}
    <br>
    <div class="container mt-5">
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Liked Songs</h5>
                    <div class="card-body">
                        {% if songLikedList %}
                            {% for song in songLikedList%}
                                <p class="card-text">{{song.name}}  -  {{song.album}}</p>
                            {% endfor %}
                            <button class="btn mt-1" onclick="generatePlaylist({{playlist.playlistAutoId}}) ">Generate new playlist</button>
                        {% else %}
                            <p class="card-text"> You have not liked any songs yet </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-4">
                <h5>Instructions</h5>
                <ol>
                    <li>Click on the rate the playlist button.</li>
                    <li>For each of the songs like and comment. Comments are optional.</li>
                    <li>Each comment and like with be autosaved.</li>
                    <li>You will then see on the left hand side of this page all your liked songs and you will be able to generate a new playlist based on them.</li>
                </ol>
                <p>Feel free to change your comments and liked songs as much as you like. You will have to generate a new playlist to have the changes effected in your generated playlist.</p>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'rateplaylist' playlist.playlistAutoId %}" class="btn btn-primary btn-lg">Rate the playlist</a>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deleteAccount">
                            Delete playlist
                        </button>
                        <div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccountTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteAccountTitle">Delete playlist</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete the playlist? This will delete the playlist for you and {{playlist.owner.email}}.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="{% url 'deleteplaylist' playlist.playlistAutoId %}" class="btn btn-danger">Delete playlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function generatePlaylist(playlistAutoId) {
            alert("This feature is currently disabled :(")
            {% comment %} $.ajax({url: '{% url "generateplaylist" %}',
                data: {
                    'playlistAutoId': playlistAutoId,
                },
                dataType: 'json',
                success: function (data) {
                    alert.fadeIn(2000);
                    alert.fadeOut(2900);
                },
                error: function (data){
                    alert("An error occured while autosaving your commentTry refreshing your page.")
                }
            }); {% endcomment %}
        }
    </script>
{% endblock %}