{% extends 'discovbeat/loginbase.html' %}
{% load static %}

{% block headblock%}
    <script src="https://kit.fontawesome.com/d3c4cf8724.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href="{% static 'css/ratePlaylistCSS.css' %}">
{% endblock %}

{% block bodyblock%}
    <br>
    <div class="container mt-5">
        <h2>{{playlist.name}}</h2>
        <br>
        <div class="form-row">
            <div class="form-group col-md-5">
                <a href="https://open.spotify.com/playlist/{{playlist.playlistId}}">Spotify playlist link</a>
                <br>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/playlist/{{playlist.playlistId}}" allowtransparency="true" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="form-group col-md-7 pt-5">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            {% if playlist.description%}
                                <h5 class="card-title">Description</h5>
                                <p class="card-text">{{playlist.description}}</p>
                            {% endif %}
                            <h5 class="card-title">Shared by</h5>
                            <p class="card-text">{{playlist.owner.email}} - {{playlist.owner.first_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>
        {% for song in songList%}
            <h4>{{song.name}}</h4>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        {% if song.songId %}
                            <a href="https://open.spotify.com/track/{{song.songId}}">Spotify song link</a>
                            <br>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"  src="https://open.spotify.com/embed/track/{{song.songId}}" allowtransparency="true" allow="encrypted-media" allowfullscreen></iframe>
                            </div>
                        {% else %}
                            <p>This song is not available on Spotify. Try searching on Google for the song instead.</p>
                            <p>Some of the reasons this could happen is because the song is not available in your territory or the song is a local file in your profile.</p>
                        {% endif %}
                        <br>
                        <div class="alert alert-success" id="alert{{song.songAutoId}}" style="display:none" role="alert">
                            Comments saved successfully
                        </div>
                    </div>

                    <div class="form-group col-md-7 pt-3">
                        <div class="container">
                            {% if song.description %}
                                <h5>{{playlist.owner.first_name}}'s comments about {{song.name}} for you!</h5>
                                <p>{{song.description}}</p>
                            {% endif%}

                            <label for="{{song.songAutoId}}">Write your comments about the song!</label>
                            <div class="row">
                                <div class="col-md-11">
                                    <textarea onchange="saveComment({{song.songAutoId}})" class="form-control" id="{{song.songAutoId}}" name={{song.songAutoId}} rows="4" placeholder="Your comment for {{song.name}}">{{song.comment}}</textarea>
                                </div>
                                <div class="col-md-1">
                                    <div class="pt-4">
                                        {%if song.rating %}
                                            <button type="button" class="btn btn-primary btn-circle btn-md"  onclick="like({{song.songAutoId}})" id="likeButton{{song.songAutoId}}" value="{{song.rating}}"><i id="heart{{song.songAutoId}}" class="fas fa-heart fa-lg" style="color:red" ></i></button>
                                        {%else%}
                                            <button type="button" class="btn btn-primary btn-circle btn-md"  onclick="like({{song.songAutoId}})" id="likeButton{{song.songAutoId}}" value="{{song.rating}}"><i id="heart{{song.songAutoId}}" class="fas fa-heart fa-lg" style="color:white" ></i></button>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
        {%endfor%}
        <a href="{% url 'submitrateplaylist' %}" class="btn btn-primary mt-1 btn-lg float-right">Return to dashboard</a>
    </div>
    <script>
        function like(songId){
            var likebtn = document.getElementById("likeButton"+songId);
            var heartbtn = document.getElementById("heart"+songId)
            heartbtn.style.color='red';
            if (likebtn.value=='False') {
                likebtn.value = 'True';
                heartbtn.style.color='red';

            } else {
                likebtn.value = 'False';
                heartbtn.style.color='white';

            }
            $.ajax({url: '{% url "savelike" %}',
                data: {
                    'songAutoId': songId,
                    'like': likebtn.value
                },
                dataType: 'json',
                error: function (data){
                    alert("An error occured while autosaving your song like. Try refreshing your page.")
                }
            });
        }

        function saveComment(songAutoId) {
            var comment = document.getElementById(songAutoId.toString()).value;
            var alert = $('#alert'+songAutoId);
            $.ajax({url: '{% url "savecomment" %}',
                data: {
                    'songAutoId': songAutoId,
                    'comment': comment
                },
                dataType: 'json',
                success: function (data) {
                    alert.fadeIn(2000);
                    alert.fadeOut(2900);
                },
                error: function (data){
                    alert("An error occured while autosaving your commentTry refreshing your page.")
                }
            });
        }
    </script>
{%endblock%}